

.login{
    background-color:rgb(154, 155, 155);;
    height:80px ;
    
}

.login img{
    display: flex;
    margin: auto;
    align-items: center;
    padding:19px ;    
}

.cadastre {
    display: flex;
    justify-content: center;
    padding:20px ;
    color:blue;
}

form{
    width:40% ;
    margin:0 auto; 
    margin-top:10px ;
    padding-left:40px ;
    padding-right:40px ;
    padding-bottom:40px ;
    
}

input{
    border-radius:5px ;
}

button{
    border-radius:5px ;
    background-color:#f0c14b;
}




 
    










